#container {
    visibility: hidden;
    margin: 20px auto;
    width: 350px;
}

#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

.responseItemContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px
}
.responseItemContent .response-header {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.responseItemContent .responseContent {
    margin-left: 35px;
}
.responseItemContent .response-header .e-assistview-icon:before {
    margin-right: 10px;
}
#response-item .e-response-item-template .e-toolbar-items {
    margin-left: 35px;
}