#container {
  visibility: hidden;
}

#loader {
  color: #008cff;
  font-family: 'Helvetica Neue','calibiri';
  font-size: 14px;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

.child-row {
  background-color: #cef0c9ff !important;
}

.parent-row {
  background-color: #f7928bff !important;
}