#container {
  visibility: hidden;
}

#loader {
  color: #008cff;
  font-family: 'Helvetica Neue','calibiri';
  font-size: 14px;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

.e-gantt .e-selectionbackground, .e-gantt .e-active  {
  background-color: #f9920b !important;
}

.e-gantt .e-altrow {
  background-color: #f2dadaff;
}
