#container {
  visibility: hidden;
}

#loader {
  color: #008cff;
  font-family: 'Helvetica Neue','calibiri';
  font-size: 14px;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

.below-30 { 
  background-color: #ffe0e0; 
}

.below-80 { 
  background-color: #fff4cc; 
}

.above-80 { 
  background-color: #e0ffe0; 
}