.fileupload {
    max-width: 500px;
    margin: auto;
}
#openBtn {
    position: absolute;
    top: 26px;
    margin-left: 13px;
}
#target {
    height: 550px;
}
/* csslint ignore:start */
#dialog {
    top: 20px !important;
    max-height: 500px !important;
}
/* csslint ignore:end */