    .content-wrapper {
        width: 35%;
        margin: 0 auto;
        min-width: 250px;
    }
    .custom-margin {
        margin: 25px 0;
    }
    .e-icons.e-search {
        background-color: rgba(0, 0, 0, 0) !important;
    }
    .e-numeric.e-control-wrapper.e-input-group .e-input-group-icon {
        background-color: rgba(0,0,0,0) !important;
    }
    .bootstrap5\.3 .e-icontemplate .e-prepend-template,
    .bootstrap5\.3 .e-prependtemplate .e-prepend-template,
    .bootstrap5\.3-dark .e-icontemplate .e-prepend-template,
    .bootstrap5\.3-dark .e-prependtemplate .e-prepend-template,
    .tailwind3 .e-icontemplate .e-prepend-template,
    .tailwind3 .e-prependtemplate .e-prepend-template,
    .tailwind3-dark .e-icontemplate .e-prepend-template,
    .tailwind3-dark .e-prependtemplate .e-prepend-template {
        padding-right: 0 !important;
    }
    .fluent2 .e-icontemplate .e-prepend-template,
    .fluent2-dark .e-icontemplate .e-prepend-template,
    .fluent2-highcontrast .e-icontemplate .e-prepend-template,
    .fluent2 .e-prependtemplate .e-prepend-template,
    .fluent2-dark .e-prependtemplate .e-prepend-template,
    .fluent2-highcontrast .e-prependtemplate .e-prepend-template {
        padding-left: 8px !important;
    }
    .fluent2 .e-appendtemplate .e-numerictextbox,
    .fluent2-dark .e-appendtemplate .e-numerictextbox,
    .fluent2-highcontrast .e-appendtemplate .e-numerictextbox {
        padding-left: 8px !important;
    }
    .material3 .e-icontemplate .e-prepend-template,
    .material3-dark .e-icontemplate .e-prepend-template,
    .material3 .e-prependtemplate .e-prepend-template,
    .material3-dark .e-prependtemplate .e-prepend-template {
        padding-left: 0 !important;
    }
    .e-bigger.tailwind3 .e-prependtemplate .e-prepend-template,
    .e-bigger.tailwind3-dark .e-prependtemplate .e-prepend-template {
        padding-left: 11px !important;
    }
    .e-icontemplate .e-icons.e-reset,
    .e-icontemplate .e-icons.e-horizontal-line,
    .e-icontemplate .e-icons.e-plus {
        cursor: pointer;
    }