    .content-wrapper {
        width: 35%;
        margin: 5% auto;
        min-width: 250px;
    }
    .ador-textbox .row {
        margin: 7% 0;
    }
    .e-float-input span:not([class]):not(.e-float-text):not(.e-input-separator):not(.e-delete-text) {
        line-height: 1; 
        padding-right: 5px;
    }
    .material3 .e-eye-icon label.e-float-text,
    .material3-dark .e-eye-icon label.e-float-text {
        top: -3px !important;
    }
    .bootstrap5\.3 .ador-textbox .e-icon-textbox .e-prepend-template,
    .bootstrap5\.3 .ador-textbox .e-prepend-textbox .e-prepend-template,
    .bootstrap5\.3-dark .ador-textbox .e-icon-textbox .e-prepend-template,
    .bootstrap5\.3-dark .ador-textbox .e-prepend-textbox .e-prepend-template,
    .tailwind3 .ador-textbox .e-icon-textbox .e-prepend-template,
    .tailwind3 .ador-textbox .e-prepend-textbox .e-prepend-template,
    .tailwind3-dark .ador-textbox .e-icon-textbox .e-prepend-template,
    .tailwind3-dark .ador-textbox .e-prepend-textbox .e-prepend-template  {
        padding-right: 0 !important;
    }
    .tailwind3 .ador-textbox .e-icon-textbox.e-float-input:not(.e-error):not(.e-input-focus) input:not(:focus):valid~label.e-float-text.e-label-bottom,
    .tailwind3 .ador-textbox .e-prepend-textbox.e-float-input:not(.e-error):not(.e-input-focus) input:not(:focus):valid~label.e-float-text.e-label-bottom,
    .tailwind3-dark .ador-textbox .e-icon-textbox.e-float-input:not(.e-error):not(.e-input-focus) input:not(:focus):valid~label.e-float-text.e-label-bottom,
    .tailwind3-dark .ador-textbox .e-prepend-textbox.e-float-input:not(.e-error):not(.e-input-focus) input:not(:focus):valid~label.e-float-text.e-label-bottom {
        top: 50% !important;
    }
    .e-bigger.material3 .ador-textbox .e-float-input:not(.e-error):not(.e-input-focus) input:not(:focus):valid~label.e-float-text.e-label-bottom,
    .e-bigger.material3-dark .ador-textbox .e-float-input:not(.e-error):not(.e-input-focus) input:not(:focus):valid~label.e-float-text.e-label-bottom {
        top: -5px !important;
    }
    .e-bigger.fluent2 .ador-textbox .e-float-input:not(.e-error):not(.e-input-focus) input:not(:focus):valid~label.e-float-text.e-label-bottom,
    .e-bigger.fluent2-dark .ador-textbox .e-float-input:not(.e-error):not(.e-input-focus) input:not(:focus):valid~label.e-float-text.e-label-bottom,
    .e-bigger.fluent2-highcontrast .ador-textbox .e-float-input:not(.e-error):not(.e-input-focus) input:not(:focus):valid~label.e-float-text.e-label-bottom {
        top: -8px !important;
    }
    .ador-textbox .e-eye-icon .e-icons.e-eye,
    .ador-textbox .e-eye-icon .e-icons.e-eye-slash,
    .ador-textbox .e-icon-textbox .e-icons.e-trash {
        cursor: pointer;
    }