#container {
  visibility: hidden;
}

#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

body {
  height: 425px;
}

#Saveasjson {
  margin-top: 10px;
  margin-bottom: 20px;
}

#Saveasjson input[type="checkbox"] {
  margin: 7px;
}

#Saveasjson label {
  font-size: 14px;
}

#Heading {
  font-weight: bold;
}